@model MyLastBreath.Models.Cursousuario

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Cursousuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdcursoxNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdcursoxNavigation.Idcurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdusuarioxNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdusuarioxNavigation.Nickname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idregistro">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
